---
import Layout from '../layout/Layout.astro';

// Component Imports
import Counter from '../components/Counter';
const someProps = {
	count: 0,
};
---

<Layout title="Astro Quickstart">
  <main>
    <Counter {...someProps} client:visible>
      <h1>Hello, React!</h1>
    </Counter>
  </main>
</Layout>